useDynLib(enerscape, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

importFrom("methods", "is")
importFrom("terra",
           "rast", "rasterize", "writeRaster", "aggregate",
           "vect", "res", "crs", "crs<-", "ext", "ext<-")
